<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Minhas Aulas - RegiMath</title>
  <link rel="stylesheet" href="../css/aulas.css" />
  <link rel="icon" href="../imagens/Regimath_sem fundo cor branco2.png"/>
</head>
<body>
  <header class="topo">
    <section class="logo">
      <a href="/"><img src="/imagens/Regimath_curto.png" alt="Logo Regimath" id="logo"></a>
    </section>
    <h1>Minhas Aulas</h1>
    <a href="perfil_prof" class="icon">Voltar</a>
  </header>

  <main class="container">
    <section class="dia">
      <h2>Hoje - Ter, 21 Out</h2>
      <section class="card glass">
        <section class="info-prof">
          <strong>Adiel</strong> <p>às 19h00</p>
        </section>
        <p>Status: <p class="online">Online</p></p>

        <section class="acoes">
          <button class="btn entrar"><a href="/video/sala1">Entrar na aula</a></button>
          <button class="btn conversar"><a href="/chat">Conversar</a></button>
          <button class="btn cancelar">Cancelar Aula</button>
        </section>

        <textarea placeholder="Informe o motivo do cancelamento..."></textarea>
      </section>
    </section>

    <section class="dia">
      <h2>Qua, 22 Out</h2>
      <section class="card glass">
        <section class="info-prof">
          <strong>William</strong> <p>às 20h00</p>
        </section>
        <p>Status: <p class="offline">Offline</p></p>

        <section class="acoes">
          <button class="btn inativa">Aula inativa</button>
          <button class="btn conversar"><a href="/chat">Conversar</a></button>
          <button class="btn cancelar">Cancelar Aula</button>
        </section>

        <textarea placeholder="Informe o motivo do cancelamento..."></textarea>
      </section>
    </section>
  </main>
</body>
</html>
