<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regimath</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
    <img src="/imagens/Regimath_sem fundo cor branco2.png" alt="Logo Regimath" id="logo">
    <section class="header-links">
      <a href="/perfil_aluno" class="btn-cadastro">Perfil</a>
    </section>
</header>
    <main>
      <h1>Bem-vindo ao Regimath</h1>
      <h2>Aumente sua nota conosco!</h2>
      <h3>Busque pelo professor ideal para você!</h3>

      <div class="landing-v4-ads">
        <div class="landing-v4-ads-bloc-container">
          <div class="landing-v4-ads-bloc tck-announce-link" data-version="2" onclick="location.href='/aulas/ingles/brasil/'">
            <div class="landing-v4-ads-wrapper">
              <div class="landing-v4-ads-pic">
               <img class="img" src="/imagens/Regimath_preto2.png" alt="Foto do professor">
               <div class="landing-v4-ads-pic-mask"></div>
                 <div class="landing-v4-ads-pic-text-container">
                  <h4>Nome do Professor</h4>
                  <p>Texto opcional</p>
               </div>
              </div>
            </div>
          </div>
       </div>
      </div>
    </main>
    <footer>
        <p>&copy; 2025 Regimath. Todos os direitos reservados.</p>
    </footer>
</body>
</html>